body {
	margin: 0;
	background-color: silver;
}

.wrapper {
	width: 100%;
	
}
box-sizing {

border-box

}

h1 {
	font-size: 25px;
	color: white;
}

footer {
	text-align: center;
}

header {
	text-align: center;
	width: 100%;
}

.search-container {
	text-align: center;
}

#photo-gallery {
	text-align: center;
	display: block;
	margin: 0 auto;
	max-width: 980px;
}
img {
	
	box-shadow: 2px 2px 5px black;
}

li  {
	display: inline-block;
	margin: 15px;
	list-style: none;

}



input[type=text] {
	

}


.search-container {
	width: 100%;
	text-align: center;
	display: block;
	margin: 0 auto;

}

#searchbox {
		
		padding: 15px 0;
		max-width: 468px;
		margin: 0 auto;
		font-size: 16pt;
		
}

ul li img {
	display: block;
	text-decoration: none;
}

#overlay {
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left:0;
	display: none;
	text-align: center;

}

#overlay img{
	margin-top: 10%;
	max-width: 50%;
	box-shadow: 
	

}

#overlay p {
	color: white;
	font-size: 20px;
	text-align: center;
}



.show-button {
	display: none;
	font-size:  20px;

}

.previous {
	cursor: pointer;
	position: fixed;
	top: 300px;
	left: 20px;
	z-index: 1000000000;
	
	transition: 1s all ease-out;
	text-align: center;
	margin-top: 20px;
	margin-left: 8px;
	
	
	width: 60px;
	height: 90px; 

}

.next {
	cursor: pointer;
	position: fixed;
	top: 300px;
	right: 20px;
	z-index: 1000000000;
	
	transition: 1s all ease-out;
	text-align: center;
	margin-top: 20px;
	margin-right: 8px;
	
	
	width: 60px;
	height: 90px; 
}

